# Build
/build/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IDE
/.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# JAR/WAR
*.jar
*.war
*.ear

# Local Properties
*.local

# 환경설정 파일(민감값)
src/main/resources/application.yml
